html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
body{background-color: gold;
  font-family: "Roboto",Arial, Helvetica, sans-serif;
}
.wrapper{
  display: flex;
  background-color: #ffffff;
  max-width: 800px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 6px 12px -4px rgba(0,0, 0, 0.2),
  0px 12px 24px rgba(0,0, 0, 0.2);
}
.wallets{
  overflow: auto;
  padding: 25px;
  height: 400px;
  width:300px;
  background-color: #efefef;
}
.wallets_top{
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}
.wallets_top_heading{
  margin: 0;
  font-weight: 500;
}
.head_wallet_button{
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 2px;
  transition: ease background-color 0.3s ,
  box-shadow ease 0.3s;
} 
.head_wallet_button:hover,
.head_wallet_button:focus{
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  outline:none;
}
.head_wallet_button img{
  display: block;
}
.wallets_list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.wallet{
  margin-bottom: 25px;
}
.wallet:last-child{
  margin-bottom: 0;
}
.wallets-link{
  display: block;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-decoration: none;
  color: #444;
  font-size: 14px;
  box-shadow: inset 0 0 1px #ddd;
  transition: ease box-shadow 0.5s;
}
.wallets-link::before{
  display: inline-block;
  margin-bottom: 10px;
  content: "";
  height: 50px;
  width: 80px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}
.wallet-visa .wallets-link::before{
  background-image: url("../img/visa.svg");
}
.wallet-mastercard .wallets-link::before{
  background-image: url("../img/mastercard.svg");
}
.wallet-maestro .wallets-link::before{
  background-image: url("../img/maestro.svg");
}
.wallets-link:hover,
.wallet-active .wallets-link{
box-shadow: inset 0 0 2px darkslateblue;
}
.balance{
  padding: 25px;
  width: 500px;
  height: 400px;
  overflow: auto;
}
.balance-top{
  align-items: center;
  display: flex;
  justify-content: space-between;

}
.balance-top-header{
  margin: 0;
  font-weight: 500;
}
.balance-value{
  font-weight: 600;
  font-size: 24px;
}
.balance-divider{
  height: 1px;
  border: none;
  background-color: #aaa;
  margin-top: 30px;
  margin-bottom: 30px;
}
.transaction-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.transaction{
  display: flex;
  align-items: center;
}
.transaction::before{
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-repeat: no-repeat;
  border: 1px solid #999;
  background-size: contain;
  background-position: center center;
}
.transaction-expence::before{
background-image: url("../img/minus.svg");
}
.transaction-income::before{
  background-image: url("../img/plus.svg");
  }
.transaction-info{
  flex-grow: 1;
  margin-left: 15px;
  margin-right: 15px;
}
.transaction-name{
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
.transaction-details{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  color:#999;
}
.transaction:last-child{
  margin-bottom: 0;
}
.transaction-value{
  font-size: 20px;
  font-weight: 500;
}
.transaction-expence .transaction-value{
  color: tomato;
}
.transaction-income .transaction-value{
  color: green;
}